apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-deployment
  namespace: portfolio
  labels:
    app: portfolio
spec:
  replicas: 3
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
      - name: portfolio
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 80
      tolerations:
      - key: "dev"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"