apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
  namespace: portfolio
  labels:
    app: portfolio
spec:
  selector:
    app: portfolio
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: NodePort